html,body{
    height: 100%;
    width: 99.5%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.card{
background-color: white;
border-radius: .5rem;
width: 35em;
padding: 1em;
margin:0
}
.container-md{
     margin-top: 5em;
     max-width: 30em;
     background-color: #FBFBFB;
     border:solid #C4C4C4 1px; 
     height: 30em;
}
.container-left{
    margin: 0 auto 0 0;
    border-radius:0;
    height: 100%;
    background-color: #FBFBFB;
    border:solid #C4C4C4 1px; 
}
.cont{
    width: 100%;
    border: solid 1px;
}
.logosI{
    max-width: 7em;
    margin: 0 0 0 0;
}
.logosIc{
    margin: auto 0 0 0;

}
.titles{
    color: #002E60;
    font-size: 1.5em;
}
.subtitles{
    color: #002E60;
    font-size: 1.2em;
    margin: 0;
}
.btn{
    width:10em;
    margin:2em auto 0 auto; 
    background-color: #002E60;
    color: white;
    border: solid #011A42 2px;
}
.btn:hover{
    background-color: #0F54A0;
    border: solid #011A42 2px;
    color: white;
}
.btn:focus{
    background-color: #0F54A0;
    color: white;
}
input{
margin: 0;

}
.form-control{
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0em;
    background-color: transparent;
}
.form-control:focus{
    box-shadow: none;
    background-color: transparent;
}
a{
    text-decoration: none;
    margin: 0;
    line-height: 2.5em;
    color:#002E60;
}
.datos{
    margin-top: 1em;
}
.logosR{
    max-width: 10em;
}




.title{
    margin-top: 1em;
    margin-left: 1em;
}
.clbody{
    margin-left: 1em;
    max-width: 30em;
    border: solid 1px;
    margin: 0 0 0 0;
}
.cbody{
height: 100%;
border: solid 1px;
}